@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Passion+One:wght@400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/orbitron/v31/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyGy6BoWgz.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background: #0A0A0A;
  color: #FFFFFF;
  font-family: Orbitron;
}

.ft_board {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:35%;
  min-height: 400px;
}

.ft_left,
.ft_right {
  height:195px;
  width:6px;
  display: inline-block;
  position:absolute;
  top: 35%;
  transform: translateY(-35%);
}

.ft_left {
  background:#1EBBFF;
  left:0;
  animation: position1 3s linear infinite;
  box-shadow: -2px 0px 17px 0px #1EBBFF;
}
.ft_right {
  background:#FF0742;
  right:0;
  animation: position2 3s linear infinite;
  box-shadow: -2px 0px 17px 0px #FF0742;
}
.ft_ball {
  width:20px;
  height:20px;
  border-radius:50%;
  background:white;
  position:absolute;
  animation: bounce 3s linear infinite;
  fill: #D9D9D9;
  filter: drop-shadow(0px 0px 25px #FFF);
}

@keyframes position1 {
    0%, 100% {top: -10%;}
    25% {top: 45%;}
    50% {top: 100%;}
    75% {top: 45%;}
}

@keyframes position2 {
    0%, 100% {top: 100%;}
    25% {top: 45%;}
    50% {top: -10%;}
    75% {top: 45%;}
}

@keyframes bounce {
    0% {top: -5%; left: 1%;}
    25% {top: 50%; left: calc(100% - 22px);} 
    50% {top: 95%; left: 1%;}
    75% {top: 50%; left: calc(100% - 22px);}
    100% {top: -5%; left: 1%;}
}

.ft_edge {
    width: 12px;
    height: 12px;
    background: #D9D9D9;
    box-shadow: 0px -2px 15px 0px #D9D9D9;
    position: relative;
    left: -3px;
}

.ft_edge-down {
  top: 182px
}

.ft_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.ft_title {
  color: #FFF;
  text-shadow: 0px 0px 15px #FFF;
  font-family: Orbitron;
  font-size: 39px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 100px;
}

.ft_button {
    color: #FFF;
    text-shadow: 0px 0px 15px #FFF;
    font-family: Orbitron;
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 309px;
    height: 93px;
    flex-shrink: 0;
    border: 3px solid #FFF;
    background: #000;
    box-shadow: 0px -4px 25px 0px rgba(255, 255, 255, 0.50), 0px 0px 24px 0px #FFF inset;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    transition: 0.5s;
}

.ft_button:hover {
    background: #FFF;
    box-shadow: 0px -4px 25px 0px rgba(255, 255, 255, 0.50), 0px 0px 24px 0px #FFF inset;
    color: black;
    cursor: pointer;
}

.Boxshad{
  box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.50), 0px 0px 18px 0px #FFF inset;
}

.Boxshad1{
  box-shadow: 0px 0px 10px 0px #FFF, 0px 0px 25px 0px #FFF inset;
}


.lineshad{

  /* box-shadow: 0px 0px 10px 0px #FFFFFF; */

  box-shadow: 0px 0px 8px 0px #FFFFFFBF inset;
}

.hide {
  border-color: transparent;
}

.parent:hover .hide {
  transition: 700ms;
  border-color: rgb(190 242 100 / var(--tw-text-opacity));
  box-shadow: 0px 0px 25px 0px #FFF, 0px 0px 20px 0px #FFF;
}
.Register {
  border: 3px solid #FFFFFF;
  box-shadow: 0px 0px 10px 0px #FFFFFF;

  box-shadow: 0px 0px 10px 0px #FFFFFFBF inset;

  text-shadow: 0px 0px 5px  #FFFFFF;

}

.NeonShadow {
  text-shadow: 0px 0px 25px  #FFFFFF;
}
.blueShadow {
  text-shadow: 0px 0px 25px  #00B2FF;
  /* box-shadow: 0px 0px 15px 0px #056C98;

  box-shadow: 0px 0px 15px 0px #00B2FF; */

}
.redShadow {
  text-shadow: 0px 0px 25px  #FF0742;
}

.NeonShadowBord{
  border: 3px solid #FFFFFF;
  box-shadow: 0px 0px 10px 0px #FFFFFF;

  box-shadow: 0px 0px 18px 0px #FFFFFFBF inset;
}

.neonBord{
  /* border: 2px solid #FFFFFF; */
  border: 2px solid #FFFFFF;
  box-shadow: 0px 0px 10px 0px #FFFFFF;

  /* box-shadow: 0px 0px 18px 0px #FFFFFFBF inset; */

}

.NBord{
  border: 3px solid #FFFFFF;
}

.NeonShadowBordRed{
  border: 3px solid #ff0000;
  box-shadow: 0px 0px 10px 0px #ff0000;

  box-shadow: 0px 0px 18px 0px #ff0000 inset;
}
.redShadowBord{
  border: 3px solid #FF0742;
  box-shadow: 0px 0px 10px 0px #FF0742;

  box-shadow: 0px 0px 18px 0px #FF0742 inset;
}
